/* Master styles */

body {
    font-family: "Lato", sans-serif;
    margin: 0px; 
}

h2 {
    font-weight: normal;
}

.container {
    display: grid;
    grid-template-columns: 1 fr; /* 1 fraction = 100 % = koko leveys */
}

/* Nav styles */
.nav-wrapper{
    display: flex; /* sijoittaa elementit vierekkäin */
    justify-content: space-between; /* tuo kaiken mahdollisen tilan elementtien väliin */
    padding: 38px; /* navin tila */
}

.left-side {
    display: flex;   
}

.nav-wrapper > .center > div {
    font-size: 1.5em;
}

.nav-wrapper > .right-side > div {
    font-size: 0.9em;
}

.nav-wrapper > .left-side > div { /* näin pääsee kiinni suoraan tiettyyn elementtiin */
    margin-right: 20px;
    font-size: 0.9em;
    /*text-transform: uppercase;*/
}

/* nämä alla olevat tyylit mahdollistavat viivan linkin alla, joka on borderin viiva */
.nav-link-wrapper { 
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; /* linkin alla olevan viivan animointi */
}

.nav-link-wrapper a { 
    color: #8a8a8a;
    text-decoration: none; /* poistaa html:n default alaviivauksen */
    transition: color 0.5s; /* tekstin värin animointi */
}

/* tämä vaikuttaa tietyn elementin hover-toimintaan */
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

/* tämä vaikuttaa elementin "linkki-toiminnallisuuteen" */
.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*kolme täysilevyistä palstaa*/
}

.portfolio-item-wrapper {
    position: relative; /* antaa muokata useita elementtejä / mahdollistaa useammanelementin pakottamisen päällekäin */
}

.portfolio-img-background {
    height: 350px;
    width: 100%; /* täysi leveys */
    background-size: cover; /*croppaa taustakuvat nätisti saman kokoisiksi */
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute; /* tämän toimiminen vaati relative-määrittelyn kohtaan portfolio-item-wrapper, mutten ei voi pakottaa toisen elementin päälle */
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* justify vertikaalissa suunnassa */
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.title-wrapper {
    font-weight: 1000;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

.img-text-wrapper:hover {
    cursor: pointer;
}

.img-text-wrapper:hover .title-wrapper {
    font-weight: 1000;
    color: yellow;
    margin-bottom: 20px;
    margin-top: 40px;
}

.img-text-wrapper .subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: yellow;
}

/*lisätään javascriptillä ominaisuus, jolla tätä luokkaa voidaan kutsua */
.img-darken {
    transition: 1s;
    filter: brightness(10%); 
}

/* About page styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width:100%;
}


.profile-content-wrapper {
    padding-left: 30px;
    padding-right: 10px;
}


/* Footer */
.footer {
    font-size: 0.9em;
    padding: 20px;
    text-align: right;
}

.about-footer {
    font-size: 0.9em;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
}